# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*xcodeproj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.json
*.pyc

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/cmake-build-verbose
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/node_modules
**/*.cbp
**/CMakeScripts
**/compile_commands.json


include/divisible/*

**/.vscode


## Local 

**/.idea

build/**/*

include/*
lib/*
bin/*
test/test_runner